{% extends 'panelVeterinario/plantillaPanelVet.html' %} {% load static %} {% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script type="text/JavaScript" src="https://MomentJS.com/downloads/moment-with-locales.js"></script>


<body class="bodyInicio">
    {% if veterinario %} {% for vet in veterinario %}
    <p class="idVetLogeado" style="display: none;">{{vet.id_veterinario}}</p>
    
<div class="container-fluid px-4">
    <h1 class="mt-4">Panel Centro Veterinario</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row" style="justify-content: center;">
        <div class="col-xl-3 col-md-6">
            <div class="card  text-white mb-4" style="background: #007cc2;">
                <div class="card-body">CREAR CITAS</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'crear' vet.id_veterinario %}">Acceder</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4 "style="background: #00b4bd;">
                <div class="card-body">VER CITAS PENDIENTES</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">Acceder</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" style="background: #439855;">
                <div class="card-body">MI PROGRESO</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">Acceder</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
       
    </div>
    {% endfor %}{% endif %}
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Total Citas Mensuales
                </div>
                <div class="card-body">
                    <canvas id="myAreaChart" width="100%" height="40">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Valoracion de Clientes
                </div>
                <div class="card-body card-valoracion">
                    <h5>Tus Valoraciones</h5>
                    <div class="patitas-valoracion">
                        <img id="huellaActiva1" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario.png" %}' />
                        <img id="huellaActiva2" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario.png" %}' />
                        <img id="huellaActiva3" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario.png" %}' />
                        <img id="huellaActiva4" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario.png" %}' />
                        <img id="huellaActiva5" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario.png" %}' />
                        <img id="huellaInactiva1" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario-inactiva.png" %}' />
                        <img id="huellaInactiva2" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario-inactiva.png" %}' />
                        <img id="huellaInactiva3" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario-inactiva.png" %}' />
                        <img id="huellaInactiva4" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario-inactiva.png" %}' />
                        <img id="huellaInactiva5" class="img-huella"
                            src='{% static "img/panelVeterinario/huella-veterinario-inactiva.png" %}' />
                    </div>
                    <div class="message-valoracion-1">
                        <h6 style="margin-top: 2rem; text-align:center;"> ¡Aún no tienes valoración!
                        </h6>
                        <p style="text-align:center; font-size: 13px;">Los clientes atendidos podrán valorar tu
                            atención. Entre más patitas tendrás mejor reputación.</p>
                    </div>
                    <div style="display: none; text-align: center;" class="message-valoracion-2">
                        <h6 style="margin-top: 2rem; text-align:center;"> ¡Tienes <span id="cantPatitas">0</span>
                            patitas!
                        </h6>
                        <p class="descripcion-valoracion-1" style="font-size: 13px; display: none;">¡Intenta mejorar, tú
                            puedes!</p>
                        <p class="descripcion-valoracion-2" style="font-size: 13px; display: none;">Nada mal pero puede
                            ser mejor...</p>
                        <p class="descripcion-valoracion-3" style="font-size: 13px; display: none;">¡Muy bien, sigue
                            así!</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Contenedor Citas Pendientes-->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Citas Pendientes
        </div>
        <div class="card-body">

            <table id="example" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr style="text-align: center;">
                        <th>Hora</th>
                        <th>Fecha</th>
                        <th>Motivo Consulta</th>
                        <th>Mascota</th>
                        <th>Dueño</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                {% if citasPendientes %}
                <tbody>
                    {% for citaPendiente in citasPendientes %}
                    <tr style="text-align: center;">
                        <td>{{citaPendiente.hora}}</td>
                        <td>{{citaPendiente.fecha}}</td>
                        <td>{{citaPendiente.motivo_consulta}}</td>
                        <td>{{citaPendiente.id_mascota.nombre}}</td>
                        <td>{{citaPendiente.id_mascota.id_cliente.nombres}}
                            {{citaPendiente.id_mascota.id_cliente.apellidos}}</td>
                        {% if citaPendiente.estado == 'Atrasada' %}<td style="color: #ff8827; background: #ffa1273b;">
                            {{citaPendiente.estado}}</td>
                        {% else %}<td style="color: #0ac175; background: #09d88218;">{{citaPendiente.estado}}</td>
                        {% endif %}

                        <td style="text-align: center;">
                            <button
                                onclick="verCita('{{citaPendiente.id_mascota.id_cliente_id}}','{{citaPendiente.id_veterinario_id}}','{{citaPendiente.fecha}}','{{citaPendiente.hora}}','{{citaPendiente.motivo_consulta}}','{{citaPendiente.id_mascota.id_cliente.nombres}}','{{citaPendiente.id_mascota.id_cliente.apellidos}}','{{citaPendiente.id_mascota.id_cliente.celular}}','{{citaPendiente.id_mascota.nombre}}','{{citaPendiente.id_mascota.edad}}','{{citaPendiente.id_mascota.tipo}}','{{citaPendiente.id_mascota.raza}}','{{citaPendiente.id_mascota.id_cliente.email}}','{{citaPendiente.id_veterinario.nombre_completo}}','{{citaPendiente.id_veterinario.correo}}'), rescatarIds('{{citaPendiente.id_cita}}','{{citaPendiente.id_mascota.id_cliente_id}}','{{citaPendiente.id_mascota_id}}','{{citaPendiente.id_veterinario_id}}','{{citaPendiente.fecha}}','{{citaPendiente.hora}}','{{citaPendiente.motivo_consulta}}')"
                                style="box-shadow: 0.6px 1px 4px 0.6px #0000002f; padding: 3px 10px; border: 0px; border-radius: 5px; margin-right: 3px; background: #09d882; color: white;">Ver</button>
                            <button
                                onclick="eliminarCita('{{citaPendiente.id_cita}}','{{citaPendiente.fecha}}','{{citaPendiente.hora}}')"
                                style="box-shadow: 0.6px 1px 4px 0.6px #0000002f; padding: 3px 10px; border: 0px; border-radius: 5px; background: #FF3333; color: white;">Eliminar</button>
                        </td>
                    </tr>{% endfor %}
                </tbody>

                {% else %}
                {% endif %}
            </table>
        </div>




        <div id="contenedorDetalle" class="contenedorDetalle">
            <div class="detalle-contenido">
                <div class="part1-detalle">
                    <div class="contenedor-info-top">
                        <h5>Información</h5>
                        <img src='{% static "img/informe-veterinario.png" %}' alt="">
                    </div>
                    <div class="contenedor-info primer-contenedor-info">
                        <p class="p-subtitulos">Fecha Cita:</p>
                        <p class="fechaCitaPendiente"></p>
                    </div>
                    <div class="contenedor-info">
                        <p class="p-subtitulos">Motivo Consulta:</p>
                        <p class="motivoConsultaPendiente"></p>
                    </div>
                    <div class="contenedor-info">
                        <p class="p-subtitulos">Nombre Dueño:</p>
                        <p class="nombreDuenoPendiente"></p>
                    </div>
                    <div class="contenedor-info">
                        <p class="p-subtitulos">Contacto:</p>
                        <p class="contactoDueñoPendiente"></p>
                    </div>
                    <div class="contenedor-info ultimo-contenedor-info">
                        <p class="p-subtitulos">Última Cita:</p>
                        <p class="ultimaCitaConcluida">Primera vez que viene</p>
                    </div>
                </div>

                <div class="part2-detalle">
                    <div class="sec1-detalle">
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Nombre Mascota:</p>
                            <p class="nombreMascotaPendiente"></p>
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Edad:</p>
                            <p class="edadMascotaPendiente"></p>
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Tipo:</p>
                            <p class="tipoMascotaPendiente"></p>
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Raza:</p>
                            <p class="razaMascotaPendiente"></p>
                        </div>
                    </div>
                    <div class="sec2-detalle">
                        <div class="contenedor-info cont-sec2">
                            <div id="zona-block-textarea" class="zona-block-textarea">
                                <span id="candado1" class="material-symbols-outlined">lock</span>
                                <p id="textoBloqueado" class="textoBloqueado">Bloqueado</p>
                            </div>
                            <div class="wrapper">
                                <h2 id="titulo-wrapper" class="titulo-wrapper">Tratamiento / Dosis</h2>
                                <textarea disabled class="tratamientoVeterinario" maxlength="500" spellcheck="false"
                                    placeholder="Inicia para desbloquear." required></textarea>
                            </div>
                        </div>
                        <div class="contenedor-info cont-sec2">
                            <div id="zona-block-textarea2" class="zona-block-textarea">
                                <span id="candado2" class="material-symbols-outlined">lock</span>
                                <p id="textoBloqueado2" class="textoBloqueado">Bloqueado</p>
                            </div>
                            <div class="wrapper">
                                <h2 id="titulo-wrapper2" class="titulo-wrapper">Comentario</h2>
                                <textarea disabled style="overflow: auto;" class="comentarioVeterinario" maxlength="350"
                                    spellcheck="false" placeholder="Inicia para desbloquear." required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="seccion-iniciar">

                <!-- CONTENIDO INICIAR -->
                <div id="contenido-iniciar" class="contenido-iniciar">
                    <h6>¿Desea comenzar con la Cita?</h6>
                    <p class="textDescription">Si tu cliente ha llegado presione el botón <span
                            style="color: #09c577; font-weight:500; font-size: 18px;">Iniciar</span></p>

                    <button onclick="comenzarCita()" id="comenzar-pendiente-btn" class="comenzar-pendiente-btn">
                        <span class="material-symbols-outlined">play_circle</span>
                        <p>Iniciar</p>
                    </button>
                </div>

                <!-- CONTENIDO INICIANDO -->
                <div class="contenidoIniciando">
                    <h6>Iniciando en <span class="contadorIniciando">3</span> ...</h6>
                </div>

                <!-- CONTENIDO EN MARCHA -->
                <div class="contenidoEnMarcha">
                    <div class="crono_wrapper">
                        <h2 id='crono'>00:00:00</h2>
                    </div>
                    <button id="finalizar-cita-btn" class="finalizar-cita-btn" onclick="alertaFinalizarCita()">
                        <span class="material-symbols-outlined">check_circle</span>
                        <p>Finalizar</p>
                    </button>
                    <button id="cancelar-cita-btn" class="cancelar-cita-btn" onclick="cancelarCitaActiva()">
                        <span class="material-symbols-outlined">close</span>
                        <p>Cancelar</p>
                    </button>
                </div>


            </div>




        </div>




    </div>
</div>
</body>
<div id="fondoNegroBlur" class="fondoNegroBlur" onclick="cerrarCita();"></div>


<script type="text/javascript">
    const tratamientoVeterinario = document.querySelector(".tratamientoVeterinario");
    const comentarioVeterinario = document.querySelector(".comentarioVeterinario");

    tratamientoVeterinario.addEventListener("keyup", e => {
        tratamientoVeterinario.style.height = "63px";
        let scHeight = e.target.scrollHeight;
        tratamientoVeterinario.style.height = `${scHeight}px`;
    });

    comentarioVeterinario.addEventListener("keyup", e => {
        comentarioVeterinario.style.height = "63px";
        let scHeight = e.target.scrollHeight;
        comentarioVeterinario.style.height = `${scHeight}px`;
    });
</script>
<!-- Configuracion Valoración Patitas -->
<script src="../../static/js/panelVeterinario/valoracion.js"></script>

<!-- Import Datatables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<!-- Import Datetables extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<!-- Configuracion Date Tables (Citas disponibles, pendientes y concluidas) -->
<script type="text/javascript" src="../../static/js/panelVeterinario/dateTables.js"></script>

<!-- Import Gráfico Chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!-- Configuracion Gráfico Chart Total citas (azúl) -->
<script type="text/javascript" src="../../static/js/panelVeterinario/graficoTotalCitas.js"></script>

<!-- Alertas SWAL ALERT 2 -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}