<th:block th:replace="head :: head"></th:block>
<th:block th:replace="header :: header"></th:block>


<div class="container-fluid inicio res" id="spinnerContainer">
    <h2>Registro Mundo Patitas</h2>
    <!--
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: red;text-transform:uppercase;list-style:none ;">{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    -->
    
    <form id="form" method="POST">
        
        <!--{% csrf_token %}-->
        <div class="row " style="margin-bottom: 12px;">
            <div id="usuario" class="col-xs-12 col-md-6">
                <label class="form-label" for="">Usuario<span class="asterisco"> *</span></label>
                <input class="form-control" id="usuarioTxt" type="text" name="username">
                <span class="oculto error-reg">Usuario Invalido. Debe ingresar minimo 4 caracteres</span>
            </div>
            <div id="password" class="col-xs-12 col-md-6">
                <label class="form-label" for="">Contraseña<span class="asterisco"> *</span></label>
                <input class="form-control" id="passwordTxt" type="password" name="password">
                <span class="oculto error-reg">Contraseña Invalida. Debe ingresar minimo 8 caracteres e incluir numeros</span>
            </div>
        </div>
        <div class="row " style="margin-bottom: 12px;">
            <div id="nombre" class="col-xs-12 col-md-6">
                <label class="form-label" for="">Nombre<span class="asterisco"> *</span></label>
                <input class="form-control" id="nombreTxt" type="text" placeholder="" name="nombres">
                <span class="oculto error-reg">Nombre Invalido. Debe ingresar minimo 3 caracteres, sin numeros</span>
            </div>
            <div id="apellido" class="col-xs-12 col-md-6">
                <label class="form-label" for="">Apellido<span class="asterisco"> *</span></label>
                <input class="form-control" id="apellidoTxt" type="text" placeholder="" name="apellidos" required>
                <span class="oculto error-reg">Nombre Invalido. Debe ingresar minimo 3 caracteres, sin numeros</span>
            </div>
        </div>
        <div class="row " style="margin-bottom: 12px;">
            <div id="celular" class="col-xs-12 col-md-6">
                <label class="form-label" for="">Celular<span class="asterisco"> *</span></label><br>
                <input class="form-control" id="celularTxt"  type="number" placeholder="987654321" name="celular">
                <span class="oculto error-reg">Celular Invalido. Debe ingresar 9 digitos</span>
            </div>
            <div id="correo" class="col-xs-12 col-md-6">
                <label for="">Correo<span class="asterisco"> *</span></label><br>
                <input class="form-control" id="emailTxt" type="email" name="email">
                <span class="oculto error-reg">Correo Invalido. Debe ingresar un correo con el formato correcto</span>
            </div>
        </div>
        <div class="row " style="margin-bottom: 12px;">
            <div id="edad" class="col-xs-12 col-md-6">
                <label class="form-label"  for="">Edad<span class="asterisco"> *</span></label><br>
                <input class="form-control" id="edadTxt" type="number" name="edad">
                <span class="oculto error-reg">Edad Invalida. Debe ser mayor de edad</span>
            </div>
            <div id="direccion" class="col-xs-12 col-md-6">
                <label class="form-label" for="">Dirección<span class="asterisco"> *</span></label>
                <input class="form-control" id="direccionTxt" type="text" name="direccion">
                <span class="oculto error-reg">Dirección Invalida. Debe ingresar minimo 3 carácteres</span>
            </div>
        </div>
        <div class="row " style="margin-bottom: 12px;">
            <div id="perfil" class="col-xs-12 col-md-6">
                <label class="form-label" for="">Tipo de Uso<span class="asterisco"> *</span></label><br>
                <select id="idSelectPerfil" class="form-control" style="padding: 30px;" name="perfil">
                    <option value=""> </option>
                    <option value="1">Dueño Mascota</option>
                    <option value="2">Centro Veterinario</option>
                </select>
                <span class="oculto error-reg">Debe seleccionar una Opción</span>
            </div>
            <div id="comuna" class="col-xs-12 col-md-6">
                <label class="form-label" for="">Comuna<span class="asterisco"> *</span></label><br> 
                <select id="idSelectComuna" class="form-control" name="comuna">
                    <option value=""> </option>
                 
                    <optgroup label="V Región" >
                        <option th:each="comuna : ${listaComunas}" th:if="${comuna.id_region == 3}" th:value="${comuna.id_comuna}" th:text="${comuna.nombre_comuna}"></option>
                     
                    </optgroup>
                    <optgroup label="Metropolitana">
                         <option th:each="comuna : ${listaComunas}" th:if="${comuna.id_region == 2}" th:value="${comuna.id_comuna}" th:text="${comuna.nombre_comuna}"></option>
                    </optgroup>
                  
                </select>
                <span class="oculto error-reg">Debe seleccionar una Opción</span>
            </div>
        </div>
        <div class="row" style="margin-bottom: 12px;">
            
            <div class="col-sm-3 offset-md-8">
                <button id="idBtnRegistrarse" type="button" class="btn btn-success" >Registrarse</button>
            </div>
        </div>
    </form>
    <div class="clear-fix"></div>
</div>
<form id="idFormGoLogin" action="/login/redirect/login" method="GET"></form>



<th:block th:replace="foot :: foot"></th:block>